* {
    font-family: "Audiowide";
    position: relative;
}


.logo {
    width: 50px;
}

.blockchain {
    width: 350px;
}

.showcase {
    font-size: 60px;
}
.mx-3 {
    font-family: "Audiowide";
  }

.collection {
    width: 250px;
}

.custom-toggler.navbar-toggler {
    background-color: #000;
}


.custom-toggler.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}