* {
    font-family: "Audiowide";
    position: relative;
}


.logo {
    width: 50px;
}

.blockchain {
    width: 350px;
}

.showcase {
    font-size: 60px;
}
.mx-3 {
    font-family: "Audiowide";
  }

.collection {
    width: 250px;
}